body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    position: relative;
    width: 30%;
    left: 30%;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 95%;
    height: 25px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-size: 18px;
}

input[readonly] {
    background-color: #f2f2f2;
    color: #888;
    padding: 8px;
}

div{
    text-align: right;
}

button {
    padding: 8px 15px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #51a2e9;
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

#Ap{
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 15px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}